#forecast{
    margin: 150px 0 0 0;
}
#win-lost-rate{
    padding: 0px;
}
#home-progress, #opp-progress{
    position: relative;
    height: 20px;
    display: inline-block;
    margin: 0;
    padding: 0;
}
#home-progress{
    width: 49%;
    background-color: #5cb85c;
}
#opp-progress{
    width: 50%;
    background-color: #f0ad4e;
}
.team-img{
    width: 100px;
    height: 100px;
    margin: 0 20px 15px 25px;
}
.team-name-span{
    font-size: 26px;
    font-weight: 500;
}