body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
ul{
  margin: 0px;
  padding: 0px;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
  color: black;
}
a:hover, a:link, a:visited{
  text-decoration: none;
  color: black;
}
/*  */
.player-img{
  width: 63px;
  height: 83px;
}
.player-small-img{
  width: 30px;
  height: 40px;
  margin-right: 5px;
}
/* select */
.select {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 264px;
  color: #cccccc;
  text-align: left;
  user-select: none;
  -webkit-touch-callout: none;
}
.select .placeholder {
  position: relative;
  display: block;
  background-color: #393d41;
  z-index: 1;
  padding: 1em;
  border-radius: 2px;
  cursor: pointer;
}
.select .placeholder:hover {
  background: #34383c;
}
.select .placeholder:after {
  position: absolute;
  right: 1em;
  top: 50%;
  transform: translateY(-50%);
  font-family: 'FontAwesome';
  content: '\f078';
  z-index: 10;
}
.select.is-open .placeholder:after {
  content: '\f077';
}
.select.is-open ul {
  display: block;
}
.select.select--white .placeholder {
  background: #fff;
  color: #999;
}
.select.select--white .placeholder:hover {
  background: #fafafa;
}
.select ul {
  display: none;
  position: absolute;
  overflow: hidden;
  width: 100%;
  background: #393d41;
  border-radius: 2px;
  top: 100%;
  left: 0;
  list-style: none;
  margin: 5px 0 0 0;
  padding: 0;
  z-index: 100;
}
.select ul li {
  display: block;
  text-align: left;
  padding: 0.8em 1em 0.8em 1em;
  color: #999;
  cursor: pointer;
}
.select ul li:hover {
  background: #4ebbf0;
  color: #fff;
}
input[type=radio],input[type=checkbox]  {  
  display: inline-block;  
  vertical-align: middle;  
  width: 20px;  
  height: 20px;  
  margin-left: 5px;  
  -webkit-appearance: none;  
  background-color: transparent;  
  border: 0;  
  outline: 0 !important;  
  line-height: 20px;  
  color: #d8d8d8;  
  margin-top: 0;
}  
input[type=radio]:after  {  
  content: "";  
  display:block;  
  width: 20px;  
  height: 20px;  
  border-radius: 50%;  
  text-align: center;  
  line-height: 20px;  
  font-size: 16px;  
  color: #fff;  
  border: 2px solid #ddd;  
  background-color: #fff;  
  box-sizing:border-box;  
}  
 
input[type=checkbox]:after  {  
  content: "";  
  display:block;  
  width: 20px;  
  height: 20px;  
  text-align: center;  
  line-height: 14px;  
  font-size: 16px;  
  color: #fff;  
  border: 2px solid #ddd;  
  background-color: #fff;  
  box-sizing:border-box;  
}  
input[type=checkbox]:checked:after  {  
  border: 4px solid #ddd;  
  background-color: #37AF6E;  
}  
 
input[type=radio]:checked:after  {  
  content: "L";  
  transform:matrix(-0.766044,-0.642788,-0.642788,0.766044,0,0);  
  -webkit-transform:matrix(-0.766044,-0.642788,-0.642788,0.766044,0,0);  
  border-color: #37AF6E;  
  background-color: #37AF6E;  
} 