<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>title</title>
    <link rel="icon" href="./images/i.ico" type="img/x-ico" />
    <link href="https://cdn.bootcss.com/normalize/8.0.0/normalize.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="stylesheet" href="./stylesheets/style.css">
    <link rel="stylesheet" href="./stylesheets/homePage.css">
    <link rel="stylesheet" href="./stylesheets/news.css">
    <script src="https://cdn.bootcss.com/vue/2.5.17-beta.0/vue.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
    <div id="main-nav-area">
        <!--nav-area-black-->
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12" id="nav-area-black">
                    <div id="user-panel">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        <span id="username" v-on:click="user_info">{{ username }}</span>
                    </div>
                    <div id="exit-panel">
                        <span class="glyphicon glyphicon-off" aria-hidden="true" v-on:click="exit"></span>
                    </div>
                </div>
            </div>
        </div>
        <div id="news">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-push-1 text-center">
                        <h1>{{ title }}</h1>
                    </div>
                </div>
                <div class="row" style="margin: 30px 0 0 0;">
                    <ul style="padding: 0;" id="content">
                        <li v-for="(c, index) in content">
                            <div class="text-center">
                                <img v-if="(index%num)==0" 
                                     v-bind:src="img_src[Math.floor(index/num)]">
                            </div>
                            <p>{{ c }}</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script src="./javascripts/news.js"></script>
</body>
</html>